body {
    background-color:lightblue;
}

.teks {
font-size: 95px; 
margin-left: 85px;
font-family: 'Lobster', cursive;
}

.gelombang {
    margin-top: 635px;
}

.navbar {
    font-size: 25px;
    font-family: 'Ranchers', cursive;

}

.seo {
    font-size: 10px;
}

 .welkom {
    
 }